* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
.top1 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: tan;
}
.image {
  height: 300px;
}
